<%- include('../partials/header') %>

  <div id="flex">
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
          <form
            action="/skills/<%= s.id %>?_method=DELETE"
            method="POST"
            class="delete-form"
          >
            <button type="submit">X</button>
          </form>  
          <a href="/skills/<%= s.id %>"><%= s.skill %></a>
          - 
          <%= s.status ? 'extra practice' : 'a ton of extra practice' %>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new" id="new-skill">Add Skill</a>
    <img src="https://c.tenor.com/NWtsAKh6jncAAAAC/me-after-learning-javascript-for-six-hours.gif" id="panda">
  </div>

<%- include('../partials/footer') %>