<%- include('../partials/header') %>

    <ul>
      <% skills.forEach(function(s) { %>
        <li>
          <a href="/skills/<%= s.id %>"><%= s.skill %></a>
            - 
          <%= s.status ? 'extra practice' : 'a ton of extra practice' %>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add Skill</a>

<%- include('../partials/footer') %>